{% extends 'layout.html' %}

{% block content %}
	
	<div class="container-fluid table-responsive">
	<div style="z-index: -1; position: fixed" id="particles-js"></div>	
		<table class="table table-bordered mt-3" id="covidTable">
		    <thead class="thead-light">
		      <tr>
		      	<th>Country</th>
		        <th>Cases Today</th>
		        <th>Active Cases</th>
		        <th>Recovered</th>
		        <th>Deaths Today</th>
		        <th>Total Deaths</th>
		        <th>Critical Cases</th>
		        <th>Cases per mil</th>
		        <th>Deaths per mil</th>
		        <th>Total Cases</th>

		      </tr>
		    </thead>
		    <tbody jput="tbody">
		      {% for x in jsonData %}
			      <tr>
			        <td>{{ x['country'] }}</td>
			        <td class="text-warning">{{ x['todayCases'] }}</td>
			        <td class="text-warning">{{ x['active'] }}</td>
			        <td class="text-success">{{ x['recovered'] }}</td>
			        <td>{{ x['todayDeaths'] }}</td>
			        <td>{{ x['deaths'] }}</td>
			        <td class="text-danger">{{ x['critical'] }}</td>
			        <td>{{ x['casesPerOneMillion'] }}</td>
			        <td>{{ x['deathsPerOneMillion'] }}</td>
			        <td class="text-danger">{{ x['cases'] }}</td>
			      </tr>
		      {% endfor %}
		    </tbody>
	  	</table>
	</div>

	<script>
		function sortTable() {
		  var table, rows, switching, i, x, y, shouldSwitch;
		  table = document.getElementById("covidTable");
		  switching = true;
		  /*Make a loop that will continue until
		  no switching has been done:*/
		  while (switching) {
		    //start by saying: no switching is done:
		    switching = false;
		    rows = table.rows;
		    /*Loop through all table rows (except the
		    first, which contains table headers):*/
		    for (i = 1; i < (rows.length - 1); i++) {
		      //start by saying there should be no switching:
		      shouldSwitch = false;
		      /*Get the two elements you want to compare,
		      one from current row and one from the next:*/
		      x = rows[i].getElementsByTagName("TD")[0];
		      y = rows[i + 1].getElementsByTagName("TD")[0];
		      //check if the two rows should switch place:
		      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
		        //if so, mark as a switch and break the loop:
		        shouldSwitch = true;
		        break;
		      }
		    }
		    if (shouldSwitch) {
		      /*If a switch has been marked, make the switch
		      and mark that a switch has been done:*/
		      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
		      switching = true;
		    }
		  }
		}

		sortTable()
		</script>

{% endblock content %}